<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisdemo.mapper.NoArgUserMapper">
    <resultMap id="groupUser" type="com.example.mybatisdemo.model.NoArgGroupUser">
        <id column="group_id" property="groupId" />
        <collection property="noArgUsers" ofType="com.example.mybatisdemo.model.NoArgUser" autoMapping="true">
            <id column="id" property="id"/>
        </collection>
    </resultMap>
</mapper>
